<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Chronicle of World Economical-History</h1>
    <p>by Zhikun Li</p>
    <p>
        As a STEM student, I find readings in humanities to fall into two categories: 
        overly dumbed down, broad, and filled with subjective claims, 
        or too sophisticated and focused on small parts of the bigger picture. 
        Indeed, these are pseudo-problems stemming from my impossible wish 
        to learn unbiased history while putting in little time. 
        However, I still believe that the process of striving 
        towards an impossible goal itself is meaningful.
    </p>
    <p>
        For the above reason, I decided to create this chronicle of world economic history, 
        which is a collection of my notes on the history of economics, written to contain
        facts and figures, leaving the conclusion to be made by the reader.
    </p>
    <p>
        I hope that this chronicle can help me to understand the world better,
        and I hope that it can help you to understand the world better as well.
    </p>
{% endblock %}